<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="centered">
        <h1>View</h1>
        <hr>
        <div class="image">
            <img src="/<%= pameran.pathPoster %>" alt="<%= pameran.originalname %>">
        </div>
        <hr>
        <table class="table">
            <thead>
                <th>TITLE</th>
                <th>ORIGINAL NAME</th>
                <th>FILE SIZE</th>
                <th>FILE TYPE</th>
            </thead>
            <tbody>
                <tr>
                    <td data-label="TITLE"><%= pameran.title %></td>
                    <td data-label="ORIGINAL NAME"><%= pameran.originalname %></td>
                    <td data-label="FILE SIZE"><%= pameran.fileSize %> B</td>
                    <td data-label="FILE TYPE"><%= pameran.fileType %></td>
                </tr>
            </tbody>
        </table>
    </main>
<%- include('../includes/end.ejs') %>